
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

/* ヘッダー */
.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #BEA574;
    color: white;
    padding: 12px 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 999;
}

.header_box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex: 1;
}

.header_left {
    width: 100px;
    height: auto;
}

.header_right {
    display: flex;
    width: 100%;
    max-width: 444px;
    gap: 52px;
    margin: 0 auto;
    justify-content: flex-start;
    white-space: nowrap;
    flex: 1;
}

.header_right a {
    color: white;
    text-decoration: none;
}

.header_right a:hover {
    opacity: 0.5;
}

/* ハンバーガーメニューのスタイル */
.hamburger {
    display: none;
    cursor: pointer;
    position: relative;
    border: none;
    background: transparent;
    z-index: 1100;
}

.hamburger_line {
    display: block;
    width: 18px;
    height: 1px;
    background-color: none;
    border: 0.5px solid white ;
    margin: 3px auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger_line::before {
    top: -10px;
}

.hamburger_line::after {
    bottom: -10px;
}

.hamburger.is-active .hamburger_line ,
.hamburger.is-active .hamburger_line ::before
.hamburger.is-active .hamburger_line ::after {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    width: 100%;
    height: 1px;
    background-color: black;
    transition: all 0.3s ease;
    transform: translateX(50%);
}

.hamburger.is-active .hamburger_line:nth-child(1) {
    transform: rotate(-45deg) translate(-1px, 2px);
}

.hamburger.is-active .hamburger_line:nth-child(2){
    display: none;
}

.hamburger.is-active .hamburger_line:nth-child(3){
    transform: rotate(45deg) translate(-1px, -2px);
}

.hamburger-menu {
    display: none;
    position: fixed;
    top: 68px; /* ヘッダーの高さを考慮 */
    width: 100%;
    background-color: #BEA574;
    text-align: center;
    z-index: 1100; 
}

.hamburger-menu a {
    display: block;
    color: #fff; /* ヘッダーの色に合わせる */
    padding: 14px;
    text-decoration: none;
    font-size: 13px; /* フォントサイズをヘッダーに合わせる */
}

.top-border {
    border-top: 1px solid white;
}

.top-bottom-border {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.error-message {
    color: red;
    font-size: 10px;

}

h2 {
    color: #333;
    width: auto;
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

/* スライド */
.swiper {
    position: relative;
    margin-top: 60px;
    width: 100%;
  } 

.swiper-slide img {
    width: 100%;
    }
 
 /* スワイパー矢印のスタイル */
.swiper-button-next, .swiper-button-prev {
    width: 40px; /* ボタンの幅 */
    height: 40px; /* ボタンの高さ */
    background-color: white; /* ボタンの背景色 */
    border-radius: 50%; /* 丸くする */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  
  /* 矢印の装飾 */
  .swiper-button-next::after, .swiper-button-prev::after {
    content: ''; /* 内容なし */
    display: block;
    width: 0; /* 幅 */
    height: 0; /* 高さ */
    border-style: solid;
  }
  
  .swiper-button-next::after {
    border-width: 5px 0 5px 7px; /* 矢印のサイズ */
    border-color: transparent transparent transparent gray; /* 矢印の色 */
  }
  
  .swiper-button-prev::after {
    border-width: 5px 7px 5px 0; /* 矢印のサイズ */
    border-color: transparent gray transparent transparent; /* 矢印の色 */
  }

/* キャッチコピー */
#catch_copy  {
    font-size: 24px;
    max-width: 100%;
    text-align: center;
}

.font_red {
    color: red;
    font-size: 60px;
}

/* スケジュール */
#schedule {
    padding: 10px 0px;
}

.tags {
    display: flex;
    text-align: center;
    width: 100%;
    background-color: rgb(212, 209, 209);
    max-width: 810px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
}

.tag {
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px o;
    flex-grow: 1;
    height: 50px;
    width: 100%;
    max-width: 270px;
    border: 1px solid #635f5f; 
    transition: background-color 0.3s ease;
}

.tag_one.active,
.tag_one:hover {
    background-color: #BEA574;
    color: white;
}

.tag_two.active,
.tag_two:hover {
    background-color: #BEA574;
    color: white;
}

.tag_three.active,
.tag_three:hover {
    background-color: #BEA574;
    color: white;
}

#schedule {
    padding: 60px;
}

.schedule_box {
    display: none;
    width: 100%;
    max-width: 810px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    height: 100px;
    text-align: left;
    align-items: center;
    padding: 10px 5px;
    border: 1px solid #635f5f; 
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease, transition 0.5s ease;
}

.schedule_box.active {
    display: block;
    opacity: 1;
}

/* アクセス */
#access {
    padding: 60px;
}

#access p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.map_container {
    max-width: 810px;
    width: 100%;
    margin: 0 auto;
}

/* フォーム */
.reserve {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#contact_form {
    display: block;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    max-width: 500px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    display: block;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #635f5f;
}

.error-message {
    color: red;
}

#submitBtn {
    background-color: #BEA574;
    color: white;
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: not-allowed;
    border: 1px solid #635f5f; 
    opacity: 0.5;
}

#submitBtn.enabled {
    opacity: 1;
    cursor: pointer;
}

#submitBtn.enabled :hover {
    background-color: #BEA574;
    color: white;
}

.required {
    color: red;
    font-size: 10px;
}

.optional {
    color: black;
    font-size: 10px;
}

/* フッター */
.footer_container {
    background-color: #BEA574;
    padding: auto;
    height: 60px;
    padding: 10px 0;
}

.footer_logo {
    display: block;
    width: 100px;
    height: auto;
    background-color: #BEA574;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


@media screen and (max-width: 480px) {
    .header_right {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        display: flex;
    }

    .header_box {
        justify-content: flex-start;
    }
     
    #catch_copy  {
        font-size: 20px;
    }
    
    .font_red {
        font-size: 50px;
    }
}

@media screen and (max-width: 400px) {
    #catch_copy  {
        font-size: 16px;
    }
    
    .font_red {
        font-size: 40px;
    }
}